/*****************************************************

                  SIMPLE CSS RESET 

******************************************************/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}



/*****************************************************

                      VARIABLES 

******************************************************/
:root {
  --c-white: rgb(250, 250, 250);
  --c-black: rgb(11, 11, 11);
  
	--c-gray-dark: rgb(34, 36, 38);
	--c-gray: rgb(54, 58, 61);
	--c-gray-light: rgb(150, 150, 150);

	--c-accent: rgb(217,83,79);
}



/*****************************************************

                    HELPER CLASSES 

******************************************************/
.tight-space-around { margin: 3px; }
.tight-space-above { margin-top: 3px; }
.tight-space-right { margin-right: 3px; }
.tight-space-below { margin-bottom: 3px; }
.tight-space-left { margin-left: 3px; }

.space-around { margin: 10px; }
.space-above { margin-top: 10px; }
.space-right { margin-right: 10px; }
.space-below { margin-bottom: 10px; }
.space-left { margin-left: 10px; }

.wide-space-around { margin: 20px; }
.wide-space-above { margin-top: 20px; }
.wide-space-right { margin-right: 20px; }
.wide-space-below { margin-bottom: 20px; }
.wide-space-left { margin-left: 20px; }

.fullwidth { width: 100%; }

.text-center { text-align: center; }

.no-scroll { overflow: hidden; }

.underline { border-bottom: 3px solid var(--c-accent); }



/*****************************************************

                    LANDING SECTION 

******************************************************/
.hero-image {
  height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('https://gefa-public-assets.s3.eu-central-1.amazonaws.com/images/theater-1920.png');
  font-family: 'Monoton', cursive;
  font-size: 10vw;
  color: rgba(255, 248, 248);
}

@media only screen and (min-width: 600px) {
  .hero-image {
    height: 70vh;
    font-size: 8vw;
  }
}



/*****************************************************

                  MOVIES GRID SECTION 

******************************************************/
.movies {
  position: relative;
  margin: 0 auto;

  width: 80%;
  min-height: 90vh; /* Little hack to prevent page-jumping while movies re-render */

  color: var(--c-gray);
}

#movies__grid {
  padding-top: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

#movies__grid::after {
  content: "";
  flex: auto;
}

.movies__categories {
  position: absolute;
  top: -50px;

  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 5px;
  background-color: white;
  font-size: 14px;
}

@media only screen and (min-width: 500px) { .movies__categories { font-size: 22px; } }
@media only screen and (min-width: 999px) { .movies__categories { font-size: 28px; } }

.movies__categories li { cursor: pointer; }
.movies__categories li:hover { border-bottom: 1px solid var(--c-accent); }
.movies__categories li.isActive { border-bottom: 3px solid var(--c-accent); }

#search-movie {
  margin-top: 40px;
  height: 50px;
  width: 100%;
  max-width: 600px;
  font-size: 1em;
  padding-left: 20px;
  color: var(--c-gray-dark);

  border: none;

  box-shadow: 1px 2px 8px rgba(11, 11, 11, 0.10);
}

@media only screen and (min-width: 500px) {
  #search-movie {
    margin-top: 100px;
    font-size: 1.2em;
  }
}



/*****************************************************

                      MOVIE CARDS

******************************************************/
footer {
  margin-top: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-accent);
}

footer p {
  font-size: 1em;
  font-weight: 700;
  color: var(--c-white);
  opacity: 0.7;
  transition: all 0.3s;
}

footer p:hover {
  opacity: 1;
}

footer span {
  color: var(--c-black);
}



/*****************************************************

                      MOVIE CARDS

******************************************************/
.movie__card {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(11, 11, 11, 0.20);
  font-size: 14px;
  transition: all 0.3s ease-in;
  margin: 10px 7px;
}


@media screen and (min-width: 600px) {
  .movie__card {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 900px) {
  .movie__card {
    flex: 0 1 calc(33% - 1em);
  }
}

@media screen and (min-width: 1200px) {
  .movie__card {
    flex: 0 1 calc(25% - 1em);
  }
}

.movie__card:hover {
  box-shadow: 3px 3px 20px rgba(11, 11, 11, 0.30);
}

.movie__card img {
  transition: 0.3s ease-out;
  opacity: 0.9;
}

.movie__card img:hover {
  opacity: 1;
}

.movie__card .movie__body {
  padding: 10px 20px 0px 20px;
  height: 130px;
  transition: all 0.3s ease-in;
}



.movie__title {
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie__genres {
  color: var(--c-gray-light);
}

.movie__card .movie__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: space-between;

  transition: all 0.3s ease-in;
}

.movie__card .movie__footer .fa-expand {
  font-size: 2em;
  color: var(--c-gray);
  cursor: pointer;
}

.movie__card .movie__footer .fa-expand:hover {
  animation: mymove 1s infinite;
}

@keyframes mymove {
  0%, 100% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.2);
    color: var(--c-accent);
  }
}

.movie__card .movie__footer div p {
  font-size: 1.8em;
}

.movie__card .movie__footer div i {
  font-size: 1.5em;
  color: var(--c-accent);
}

.movie__score {
  display: inline;
}

/*****************************************************

                  EXPANDED MOVIE CARD

******************************************************/
.movie__card--expanded {
  z-index: 90;
  transform: scale(3);
  opacity: 0;
}

.overlay {
  display: none;

  position: fixed; 
  overflow-y: scroll;
  top: 0; left: 0; top: 0; bottom: 0;
  z-index: 100;

  width: 100%;
  
  text-align: center;
  background-color: white;
  color: var(--c-gray);

  -webkit-overflow-scrolling: touch;
}

.overlay-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-overflow-scrolling:touch;
}

.overlay iframe {
  overflow: hidden;
  border: none;
  height: 35vh;
  width: 95%;
}

@media only screen and (min-width: 500px) {
  .overlay iframe {
    height: 50vh;
    max-width: 800px;
  }
}

.overlay-content .overlay__footer {
  padding: 50px;
}

.overlay__video {
  height: 30%;
}

.overlay__overview {
  width: 100%;
  padding: 0px 10px;
}

@media only screen and (min-width: 500px) {
  .overlay__overview {
    width: 80%;
    max-width: 800px;
  }
}

.overlay__title {
  font-size: 2.5em;
}

.overlay__release-date {
  font-size: 1.5em;
  color: var(--c-gray-light);
}
.overlay__overview {
  font-size: 1.5em;
}

.overlay__reviews,
.overlay__similar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* REVIEW CARD */
.review__card {
  max-width: 350px;
  height: 250px;
  overflow-y: scroll;
  text-align: start;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-size: 1.2em;
}

.review__card p { color: var(--c-gray-light); }


.review__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.similar__card {
  max-width: 250px;
  overflow-y: scroll;
  text-align: start;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


.similar__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.not-found {
  padding: 20px 20px 50px 20px;
  font-size: 1.5em;
  color: var(--c-gray-light);
}




/*****************************************************

            MORE MOVIES LOADING INDICATOR 

******************************************************/
.loader-wrapper {
  width: 100%;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: var(--c-accent);
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


/*****************************************************

                       UI ELEMENTS

******************************************************/
.button {
  padding: 0.5em 1em;
  height: 2.5em;

  border: none;
  box-shadow: 1px 1px 5px var(--c-gray-light);
  background-color: var(--c-gray-light);
  font-size: 1.2em;
  color: white;

  cursor: pointer;
  transition: all 0.2s ease;
}

.button-primary {
  background-color: var(--c-accent);
}

.button:hover {
  box-shadow: 2px 2px 10px var(--c-gray-light);
}
